
 /* Color Theme Swatches in Hex */
.Neutral-Blue-1-hex { color: #FCFFF5; }
.Neutral-Blue-2-hex { color: #D1DBBD; }
.Neutral-Blue-3-hex { color: #91AA9D; }
.Neutral-Blue-4-hex { color: #3E606F; }
.Neutral-Blue-5-hex { color: #193441; }


.body {
  font-family: 'Kdam Thmor Pro, sans-serif;'
}


h1, h2, h4 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
}

@media (max-width: 400px){
  h1 {
    text-align: center;
  }
}




h3, h5, h6 {
  font-family: 'Roboto Slab';
}


p {
  font-family: 'Roboto Slab';
  font-size: 17px;
  /*  text-justify: inter-word;*/
}


#title {
  background-color: #FCFFF5;
  color: #193441;
}

#main-title{
  font-size: 3.5em;
}

@media (min-width: 400px){
  #main-title {
    text-align: center;
  }
}

.container-fluid {
  padding: 0rem;
}

/* Navigation Bar */
.navbar {
    background-color: #193441;
    color: #193441;
}

.navbar-brand {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    padding: 1rem 7rem;
}

.nav-item {
  padding: 1rem 7rem;
}

@media (max-width: 500px){
  .navbar-brand {
      padding: 1rem 3rem;
  }
}

.row{
  padding: 1rem 7rem;
}

/* Tittle Image */
.title-img-div {
  position: relative;
  padding: 1rem 0rem;

}

.title-image {
  position: relative;
  max-width: 90%;
  object-fit: cover;
}


@media (max-device-width: 707px) {
  .title-img-div {
    position: sticky;
    padding: 1em;
  }
}

/* Cards */
.card {
  padding: 1rem;
}

.card-header{
  padding: 0rem;
}

/* Flashcards Section */
#flashcards {
  text-align: center;

}

.flashcard-image {
  width: 90%;
  border-radius: 5%;
  margin: 20px;
}

.carousel-item {
  background-color: #3E606F;
  padding: 1rem 6rem;
}

.empty-feature {
      /*  padding*/
}

/* Courses Section */
.second-container {
  position: sticky;
  padding: 1rem 3rem;
}

#courses {
  padding: 3rem 3rem;
  text-align: center;
  background-color: #D1DBBD;
  color: #193441;
}


#courses-row {
  padding: 1rem 3rem;
}

/* Cute button */
.button-74 {
  background-color: #ECE5C7;
  border: 2px solid #193441;
  border-radius: 30px;
  color: #1A132F;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Roboto Slab';
  padding: 5px 15px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #D1DBBD;

}

.button-74:active {
  box-shadow: #354259 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 480px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.card {
  background-color: #193441;
  color: #F2EBE9;
  border-radius: 20px;
  padding: 1em 2em;

}

.description {

  font-family: 'Roboto Slab';
}

.subject {
  color: #F2EBE9;
}

.courses-column {
  padding: 1rem;
}

@media (max-device-width: 707px){
  #courses-row {
    padding: 1rem;
  }

  .courses-column {
    padding: 1rem;
  }

  .card{
    padding: 1rem;

  }

}




/* About page */
.navbar-pages {
  font-family: 'Kdam Thmor Pro';
  font-size: 1.3rem;
  font-weight: bold;
}

#info {
  padding: 3rem 5rem;
  text-align: left;
  background-color: #D1DBBD;
  font-size: 30px;
}

#about-description {

  text-align: left;
  background-color: #D1DBBD;
  color: #193441;
}

@media only screen and (max-width: 320px) {
  #about-description {
    padding: 1rem 0rem;

  }

}

@media (max-width: 707px) {
  #info-description {
        /*  padding*/
  }
}

/* Subject pages */
#subject-info {
  padding: 1rem 5rem;
  text-align: left;
  background-color: #D1DBBD;
  font-size: 30px;
}

@media only screen and (max-width: 320px) {
  #subject-info {
    padding: 1em 2em;
    font-size: 18px;
  }
}

@media only screen and (max-width: 320px) {
  #subject-description {
    font-size: 18px;
  }
}

#subject-topics {
  text-align: center;
  background-color: #3E606F;
  color: #FCFFF5;
}

#topics-container {
  padding: 2em 0em;
}



#topics-list {
  text-align: left;
}

.list-group {
  border-radius: 2rem;
  font-family: 'Roboto Slab', 'serif';
  padding: 1em 7em;

}

.list-group-item {
  border-radius: 2rem;
  padding: 1rem;
}

@media (min-width: 300px) {

  #topics-list {
    text-align: center;
    padding: 0em;
  }

  .topics-column{
    padding: 0em;
  }
  .list-group {
    border-radius: 2rem;
    padding: 0.5em;

  }

  .list-group-item {
    border-radius: 2rem;
    padding: 1em 1.5em;
  }

}

.list-group-item {
  background-color: #FDF6EC;
  border: 2px solid #112031;

}

.list-group-item:hover {
  background-color: #FCFFF5;
}

.list-group-item:active {
  box-shadow: #193441 2px 2px 1px 1px;
  transform: translate(2px, 2px);
}

 .img-fluid{
   max-width: 90%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding: 1em;
   border-radius: 50px;
 }

 #first-topic-ml{
   background: #D1DBBD;
   padding-top: 2em;
   padding-bottom: 2em;
 }

 #second-topic-vsm{
   background: #3E606F;
   padding-top: 2em;
   padding-bottom: 2em;
 }

#first-anchor{
  background: #D1DBBD;
  padding-left: 5em;
  padding-top: 2em;
}

#second-anchor{
   background: #3E606F;
   padding-left: 5em;
   padding-top: 2em;
}

#end-anchor{
  padding-left: 10em;
  padding-top: 3em;
  padding-bottom: 3em;
  background: #193441;
  color: #FDF6EC;
}
 .button-2 {
   background-color: #ECE5C7;
   border: 2px solid #193441;
   border-radius: 30px;
   color: #1A132F;
   cursor: pointer;
   display: inline-block;
   font-weight: 500;
   font-size: 18px;
   font-family: 'Roboto Slab';
   padding: 5px 15px;
   line-height: 50px;
   text-align: center;
   text-decoration: none;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
 }

 .button-2:hover {
   background-color: #D1DBBD;

 }

 .button-2:active {
   box-shadow: #354259 2px 2px 0 0;
   transform: translate(2px, 2px);
 }

 @media (min-width: 480px) {
   .button-2 {
     min-width: 120px;
     padding: 0 25px;
   }
 }
